<div class="home_container">
    <app-card 
    gameCover="assets/bt-1.jpg" gameLabel="Exclusive"
    gamePrice="R$ 22,49"
    gameType="Digital"
    ></app-card>
    <app-card 
    gameCover="assets/bt-4.jpg" gameLabel="Digital" 
    gamePrice="R$ 249,00"
    gameType="DISC"
    ></app-card>
    <app-card 
    gameCover="assets/ac-cover.jpg" gameLabel="Best of Year" 
    gamePrice="R$ 269,00"
    gameType="Digital | PS5"
    ></app-card>
    <app-card 
    gameCover="assets/bt-hardline.jpg" gameLabel="NEW" 
    gamePrice="R$ 349,00"
    gameType="DIGITAL | PS3 PS4 PS5"
    ></app-card>
</div>